{% extends "layout.html" %}

{% block body %}

<h3>Makaleler</h3>
<hr>

{% if articles %}
<form action="/search" method = "post">
    
    <input id="1" class="" type="text" name="keyword" placeholder=" Ara..." required="">
    <button class="btn btn-success" type="submit">
        <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Arama
        </button>     
</form>
<hr>


    {% for article in articles %}

    <li class = "list-group-item"><a href="article/{{article.id}}">{{ article.title }}</a></li>

    {% endfor %}
 
</ul>

{% else %}

<div class = "alert alert-danger">Bu blokta henüz makale bulunmuyor...</div>

{% endif %}

{% endblock body %}